[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim_cf3"]
	path = .vim/bundle/vim_cf3
	url = git://github.com/neilhwatson/vim_cf3.git
[submodule ".vim/bundle/vim-vst"]
	path = .vim/bundle/vim-vst
	url = git://github.com/vim-scripts/VST.git
